body {
    margin: 0;
    padding: 0;
    background: center / cover url("assets/skulls.png");
}

.centered {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
}

.centered * {
    color: green;
}

.centered a {
    color: blue;
}